.container{
  /*background: linear-gradient(60deg, #f6c4c3, #f0edef);*/
  height: auto;
}
.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .photo-list {
    display: flex;
    overflow-x: auto;
    padding: 10px;
  }

  button {
    margin: 0 10px;
  }

  