.outer{
    max-width: 100% !important;
    height: auto;
    margin-bottom: 5%;
}
.outer p{
    color: black;
}
.ebook-search-outer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-list{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:35px;
    margin:7px 0 30px 0;
}
.photo img{
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
}
.photo:hover{
    opacity: 60%;
    transition: all 0.1s;
}
.category-buttons{
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.buttons-Ebook {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-outer{
    height: 50px;
    display: flex;
    flex-direction:row;
}
.left-ttle{
    width: 90%;
}
.right-btn{
    flex: content;
}

/* Tablets: from 768px to 1024px */
@media (max-width: 768px)  {
    .photo img{
        width: 120px;
        height: 200px;
    }
    .button{
        width: auto;
        height: auto;
    }
    .search-outer{
        width:90%;
    }
    .search-button{
        width: auto;
        height: 30px;
    }
    .right-btn button{
        width: 70px;
        height: auto;
    }
    .left-ttle h2{
      font-size: 20px;
    }
}

@media  screen and  (min-width: 768px) and (max-width: 1024px){
    .photo img{
        width: 250px !important;
        height: 400px !important;
    }
    .outer{
        width: 100% !important;
    }
    .right-btn button{
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .search-outer{
        width: 50%;
    }
}

/* Desktop and larger devices */
@media (min-width: 1024px) {
    .photo img{
        width: 240px !important;
        height: 380px!important;
    }
    .outer{
        width: 100% !important;
    }
    .title-outer button{
        width: 120px;
        height: 40px;
    }
    .search-outer{
        width: 50%;
        height: 50px;
    }
}

/* ----------------Read Book CSS------------------- */
.view-novel-outer-ebook{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.left-photo-outer{
    width:50%;
    height: 90vh;
}
.left-photo-outer img{
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
}
.right-desc-outer-ebook{
    flex: content;
    height: auto;
    padding:10px 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right-desc-outer-ebook p{
    font-size: 20px;
}
.pricing-card{
    font-size: 28px;
}
.read-button-outer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.read-button-outer button{
    width: auto;
    padding: 10px;
    font-size: 18px;
    border-radius: 10cap;
}
a{
    text-decoration: none;
}
span{
    margin-left: 30px;
    color: red;
    font-weight:600;
}
.Demo__container{
    margin-top: 15px;
}
/* Phones: less than 768px */
@media (max-width: 768px) {
    .left-photo-outer, .right-desc-outer {
        width: 100%;  
        margin-left: 0; 
        height: auto; 
    }
    .left-photo-outer img{
        width: 100%;
        height: 100%;
        margin-left: -20px;
    }
    .view-novel-outer{
        width: 100%;
    }
}


/* ---------------Read Preview---------------- */

.bar{
    font-size: 0.875rem;
    max-width: 100%;
    padding-bottom: .5rem;
    background-color: #3f3e3e;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-top: 5px;
}
.bar h3{
    color: white;
    margin: 0;
}
.wrap{
    width: 100%;
    user-select: none;
}

/*.pdf-page {*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*}*/
.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px; 
}

.pdf-page {
    height: auto;
    display: block;
    margin: auto;
    width: auto;
}
.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .controls button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* Phones: less than 768px */
@media (max-width: 768px) {
    .bar{
        width: 100%;
        height: 5rem;
    }
    /* .wrap{
        width: 100vw;
    } */
    .controls button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .controls {
        flex-direction: column;
        align-items: center;
    }

    .controls button {
        width: 80%;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
    }
}
