.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #4d4c4c;
  }

  .footer-top p{
    color: white;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .footer-links-left {
    max-width: 30%;
    margin-bottom: 5px;
  }

  .footer-links-midle {
    max-width: 30%;
    margin-bottom: 5px;
  }

  .footer-links-right {
    max-width: 30%;
  }

  .f-text {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    
    .footer-top {
      flex-direction: column !important;
      align-items: center;
    }

    .footer-links-left {
      max-width: 100%;
    }

    .footer-links-midle {
      max-width: 100%;
    }
    .footer-links-right {
      max-width: 100%;
    }
  }
  
    
    
    
