.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #090909;
    /*background-color: #4d4c4c;*/
    min-height: 150px;
}

.footer-bottum {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #0c0c0c;
    /*background-color: #4d4c4c;*/
    min-height: 30px;
}

.footer-top p, .footer-bottum p, .footer-top p a {
    color: black !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.inside-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15%;
    margin-left: 100px;
}

.footer-links-left {
    max-width: 30%;
    margin-bottom: 5px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
}

.footer-links-left p {
    text-align: start;
}

.footer-links-midle {
    max-width: 30%;
    margin-bottom: 5px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.footer-links-right {
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

.f-text {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    .footer-top {
        flex-direction: column !important;
        align-items: center;
        margin-bottom: 40px;

    }

    .footer-links-left {
        max-width: 100%;
        padding-left: 0px;
    }

    .footer-links-midle {
        max-width: 100%;
    }

    .footer-links-right {
        max-width: 100%;
    }
    .inside-row{
        margin-left: 0px;
    }
}
  
    
    
    
