.nav-bar{
height: 60px;
}
.nav-outer{
  background-color:rgb(116, 190, 237)  !important;
  background:none;
  z-index: 1;
}
.right-outer{
  margin-left: 45vw;
}
.link-page{
  font-size: 50px;
}
.link-page a{
  font-size: 30px !important;
  color: hsl(0, 100%, 100%);
  margin: 0 20px;
}
.link-page a:hover{
  font-size: 20px;
  color: #fffdfd;
}
.togs{
  background-color: #fffdfd;
  border: 1px solid white;
}
@media screen and (min-width:1140px) {
  .right-outer{
      margin-left: 35vw;
  }
}
@media screen and (max-width:767px) {
  p,h1{
      font-size: 15px;
  }
}
.link-page a{
  font-size: 12px;
}
