.nav-bar{
  height: 70px;
  max-width: 100%;
  background:rgb(63, 63, 63)  !important;
  /*border: 1px solid red;*/
}
.nav-outer{
  background:rgb(63, 63, 63)  !important;
  background:none;
  /*border: 1px solid red;*/
}
.nav-container{
  max-width: 100%;
  background:rgb(63, 63, 63)  !important;
  /*border: 1px solid red;*/
}

.right-outer{
  margin-left: 35% !important;
  /*border: 1px solid #ffffff;*/
}

.link-page a{
  font-size: 20px !important;
  color: hsl(0, 17%, 98%);
  margin: 0 20px;
}
.link-page a:hover{
  font-size: 20px;
  color: #f9f5f5;
}
.togs{
  background-color:rgb(252, 251, 251)  !important;
  border: 1px solid rgb(251, 247, 247) !important;
}
@media screen and (min-width:1140px) {
  .right-outer{
      margin-left: 35vw;
  }
}
@media screen and (max-width:768px) {
  p,h1{
      font-size: 8px;
  }
}
.link-page a{
  font-size: 8px;
}
span{
  margin-left: -10px;
}
.nav-bar{
  width: 100% !important;
}
