.gallery-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
}
.news-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:50px; 
}
.news-outer{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.news-list img{
    border: 1px solid rgb(241, 237, 237);
    border-radius: 8px;
    padding:10px;
    align-items: center;
}
.photo-item:hover{
    opacity: 60%;
    transition: all 0.1s;
}
/* Phones: less than 768px */
@media (max-width: 767px) {
    .photo-item{
        width: 150px;  /* slightly less than 50% to account for gaps */
        height: auto;  /* maintain aspect ratio */
    }
    .news-outer{
        width: 125px;
        height: auto
    }
}

/* Tablets: from 768px to 1024px */
@media (min-width: 768px) and (max-width: 1023px) {
    .photo-item{
        width: 200px;  /* slightly less than one-third to account for gaps */
        height: auto;  /* maintain aspect ratio */
    }
}

/* Desktop and larger devices */
@media (min-width: 1024px) {
    .news-list img{
        width: 250px !important; /* fixed width */
        height: 250px;  /* fixed height */
    }
}



/* View novel outer */
.view-news-outer{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.left-news-outer{
    width: 30%;
    height: 650px;
}
.right-desc-outer{
    width: 50%;
    margin-left: 4%;
    height: 650px;
}
.button-outer{
    margin-left: 40%;
    align-items: center;
}

/* Phones: less than 768px */
@media (max-width: 767px) {
    .left-news-outer, .right-desc-outer {
        width: 100%;  /* Each section takes full width */
        margin-left: 0;  /* Remove margin from right-desc-outer */
        height: auto;  /* Optional: Adjust height as needed */
    }
    .button-outer{
        margin-left: 20%;
    }
    /* .left-photo-outer{
        width: 25%;
        height: 650px;
    } */
}

