.outer{
    background: linear-gradient(60deg, #f6c4c3, #f0edef);
    max-width: 100% !important;
    height: auto;
    margin-bottom: 5%;
}
.gallery-container{
    width: 100%;
    height: auto;
}
.news-strip{
    background-color: #dcd7d7;
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
}
.picture-rim{
    background-color: #e1dddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.news-list{
    width: 100%;
    height: 100%;
    gap:50px; 
}
.news-outer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.left-news-outer{
    padding: 20px;
    margin-right: 20px;
}
.right-news-outer{
    margin-top: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.left-news-outer img{
    border: 1px solid rgb(241, 237, 237);
    border-radius: 8px;
    padding-left:10px;
    align-items: center;
}
.right-news-outer h2{
    font-size: 35px;
    color: #080809;
}
.right-news-outer p{
    font-size: 25px;
}


/* Phones: less than 768px */
@media (max-width: 768px) {
    .news-outer{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .left-news-outer{
        width: 100% ;
        height: auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .right-news-outer{
        margin-top: 40px;
        width: 100%;
        height: auto;
    }
    .left-news-outer img{
        width:100px;
        height: 200px;
    }
    .right-news-outer h2{
        font-size: 25px;
        color: #6a2bf4;
    }
    .right-news-outer p{
        font-size: 15px;
    }
    .category-buttons-news{
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
    }
    .category-buttons-news button{
        width: auto;
        height: 30px;
    }
    .picture-rim{
        width: 150px;
        height: 150px;
        /*margin-left: 35%;*/
    }
}

/* Tablets: from 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .left-news-outer img{
        width:100% !important;
        height: 300px; /* fixed width */
    }
    .left-news-outer{
        width: 30% !important;
        height: auto;
        /*border: 1px solid red;*/
    }
    .right-news-outer{
        margin-top: 40px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .left-news-outer img{
        width:120px;
        height: 220px;
    }
    .right-news-outer h2{
        font-size: 25px;
        color: #6a2bf4;
    }
    .right-news-outer p{
        font-size: 15px;
    }
    .picture-rim{
        margin-left: 60%;
        width: 200px;
        height: 200px;
    }
}

/* Desktop and larger devices */
@media (min-width: 1024px) {
    .left-news-outer img{
        width:260px !important; /* fixed width */
        height: 250px;  /* fixed height */
    }
    .left-news-outer{
        width: 30% !important;
        height: auto;
        padding: 20px;
    }
    .picture-rim{
        margin-left: 60%;
    }

}


/* View news section  */

.view-news-outer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.left-news-outer{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-news-desc-outer{
    width:100% !important;
    height: auto;
    padding: 2% 10%!important;
}
.right-news-desc-outer p{
    font-size: 15px !important;
}
.button-outer{
    margin-left: 40%;
    align-items: center;
}

/* Phones: less than 768px */
@media (max-width: 768px) {
    .left-news-outer{
        width: 100%;
        margin-left: 0;
        height: auto;
    }
    .right-news-desc-outer {
        width: 90%;
        margin-left: 0;
        height: auto;
    }
    .left-news-outer img{
        width: 100%;
    }
    .right-news-desc-outer p{
        font-size: 10px !important;
    }
    .button-outer{
        margin-left: 20%;
    }
    /* .left-photo-outer{
        width: 25%;
        height: 650px;
    } */
}

